{% extends "blog/base.html" %}
{% load bootstrap_icons %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h1 class="posttitle">{{ post.title }}</h1>

            {% if post.published_date %}
                <div class="date postdate">
                    Published on: {{ post.published_date }}
                </div>
            {% else %}
                <a class="btn btn-primary mb-3" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
            {% endif %}

            <hr>

            <div class="postcontent">
                {{ post.content|safe|linebreaksbr }}
            </div>

            {% if user.is_authenticated %}
            <div class="mt-4">
                <a class="btn btn-primary me-2" href="{% url 'post_edit' pk=post.pk %}">
                    <span>{% bs_icon 'pencil' %}</span> Edit
                </a>
                <a class="btn btn-danger" href="{% url 'post_remove' pk=post.pk %}">
                    <span>{% bs_icon 'trash' %}</span> Delete
                </a>
            </div>
            {% endif %}

            <hr>

            <div class="mt-4 mb-4">
                <div class="btn-group">
                    <a class="btn btn-primary btn-comment" href="{% url 'add_comment_to_post' pk=post.pk %}">
                        <span>{% bs_icon 'chat-left-text' %}</span> Add Comment
                    </a>
                </div>
            </div>

            {% if post.comments.count > 0 %}
                <h3>Comments:</h3>
                {% for comment in post.comments.all %}
                    <div class="card mb-3">
                        <div class="card-body">
                            <p class="card-text">{{ comment.text|safe|linebreaks }}</p>
                            <p class="card-text">Posted by: <b>{{ comment.author }}</b> | {{ comment.created_date }}</p>
                            {% if user.is_authenticated and not comment.approved_comment %}
                            <div>
                                <a class="btn btn-success me-2" href="{% url 'comment_approve' pk=comment.pk %}">
                                    <span>{% bs_icon 'check' %}</span> Approve
                                </a>
                                <a class="btn btn-danger" href="{% url 'comment_remove' pk=comment.pk %}">
                                    <span>{% bs_icon 'x' %}</span> Remove
                                </a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                {% empty %}
                    <p>No comments yet.</p>
                {% endfor %}
            {% else %}
                <p>No comments yet.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
